<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3" style="padding:0; background-color: #f7e8e980 ;">
      <div class="container">
          <a class="navbar-brand" asp-area="" asp-controller="Ventas" asp-action="Index">
              <img src="/src/Imagenes/logo.png"
                  alt="Flowersshoes" style="height:50px" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" >
              <ul class="navbar-nav flex-grow-0">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 1.2rem;color: black;">
                          <i class="fa-solid fa-screwdriver-wrench" style="color: #dfb9c6;"></i> &nbsp; Mantenimiento
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="border: 1px solid #ad85999c;">
                          <li><a class="dropdown-item" asp-area="" asp-controller="Colores" asp-action="Colores"><i class="fa-solid fa-palette" style="color: #dfb9c6;"></i> &nbsp; Colores </a></li>
                          <li><a class="dropdown-item" asp-area="" asp-controller="Clientes" asp-action="Clientes"><i class="fa-solid fa-palette" style="color: #dfb9c6;"></i> &nbsp; Clientes </a></li>
                          <li><a class="dropdown-item" asp-area="" asp-controller="Productos" asp-action="Productos"><i class="fa-solid fa-palette" style="color: #dfb9c6;"></i> &nbsp; Productos </a></li>
                          <li><a class="dropdown-item" asp-area="" asp-controller="Stocks" asp-action="Stocks"><i class="fa-solid fa-palette" style="color: #dfb9c6;"></i> &nbsp; Stocks </a></li>
                          <li><a class="dropdown-item" asp-area="" asp-controller="Tallas" asp-action="Tallas"><i class="fa-solid fa-palette" style="color: #dfb9c6;"></i> &nbsp; Tallas </a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
</header>
<router-outlet></router-outlet>
